ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #30c6ec38;
    border: 1px solid #555;
  }
  
  li a {
    display: block;
    
    padding: 8px 16px;
    text-decoration: none;
    
  }
  
  li {
    text-align: center;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li a.active {
    background-color: #e1ab16;
    
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }